// MangaReader_ManagerUI\mangareader_managerui.client\src\assets\scss\base\_typography.scss
@use '../utils/variables' as *; // Import variables

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-md;
  color: $text-color;
}

p {
  margin-bottom: $spacing-sm;
}

small {
  font-size: $font-size-sm;
  color: $dark-gray;
}